/* all common css  start*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {

    line-height: 0.8;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* all common css  end*/

/* header style start */
#headerPart{
    padding: 30px 0;
}
.headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.cLogo{
    margin-left: 5px;
}

.menu ul li {
    display: inline-block;
}
.menu ul li a{
   color: #000000;
   margin-left: 15px;
   font-size: 14px;
   font-weight: 400;
}
.btn a{
    padding: 8px 17px;
    background: #5E3BEE;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    
}
/* header style end */




/* banner  style start */
#bannerPart{
background: #F9F9FC;
}
.bannerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannerText{
    padding: 110px 0;
}
.bannerText h4{
    color: #5E3BEE;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;

}
.bannerText h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #333333;
    width: 479px;
    padding: 41px 0;
}
.contact{
 padding: 18px 30px;
 background: #5E3BEE;
 color: #fff;
 border-radius: 50px;
 font-size: 14px;
 font-weight: 500;
}
.download{
color: #333333;
margin-left: 10px;
font-size: 14px;
font-weight: 500;
}
.bannerImg{
    padding-top: 20px;
}
.bannerImg img{
    width: 700px;
    height: 686px;
}
/* banner  style end */



/* achieveMent style start */
#achievePart{
    padding: 100px 0;

}
.achieveFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project{
    width: 272px;
}

.project h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #000000;
    text-align: center;
}

.project h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    opacity: 0.7;
    
    text-align: center;
}
.award{
    width: 272px;
    
}
.award h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #000000;
    margin-left: 35px;
    text-align: center;
    margin-left: 5px;
}
.award h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    opacity: 0.7;
    text-align: center;
    
}
.client{
    width: 272px;
}
.client h3{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #000000;
    text-align: center;
}
.client h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    opacity: 0.7;
    padding-right: 5px;
    text-align: center;
}
.experience{
    width: 272px;
}
.experience h3{
     font-size: 48px;
    font-weight: 600;
    line-height: 56px;
    color: #000000;
    text-align: center;
}
.experience h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;
    opacity: 0.7;
   
    text-align: center;
}
/* achieveMent style end */



/* service style start */
#service{
    /* padding: 80px 0; */
    

}
.serviceText{
   text-align: center;
   /* display: block; */
   
}
.serviceText h4{
    color: #5E3BEE;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}
.serviceText h3{
    color: #000000;
    font-size: 44px;
    font-weight: 600;
    line-height: 56px;
    text-align: center;
    padding: 20px 0;
}
.serviceText p{
    color: #121212;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    opacity: 0.7;
    
   
    
}
.serviceFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.serviceItems{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.serviceItem{
    width: 376px;
    height: 286px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 45px 70px;
    margin: 62px 0;
    border-radius: 24px;
}
.serviceItem h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 18px;
}
.serviceItem p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #121212;
    opacity: 0.7;
    text-align: center;
}
.serviceImg{
    text-align: center;
}
/* service style end */




/* contact style start */
#contactPart{
    height: 778px;
    background: url("/img/backgroundOne.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
.contactText{
    padding: 105px 0;
}
.contactText h4{
    color: #5E3BEE;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
}
.contactText h2{
     font-size: 60px;
    font-weight: 700;
    line-height: 78px;
    color: #333333;
    width: 479px;
    padding: 41px 0;
}
.contactText p{
    width: 584px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    color: #333333;
    padding-bottom: 38px;
}
/* contact style end */





/* partner Company style start */
#partnerCompany{
    padding: 100px 0;
}
.partnerCompanyList{
   display: flex;
   justify-content: space-between;
}
/* partner Company style end */







/* header style start */
/* header style end */
/* header style start */
/* header style end */